---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import { getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";

import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PresidentMessage from "./presidentMessage.astro";
const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, what_i_do } = entry.data;
const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-4">
          {
            image && (
              <div class="img-cover mb-8">
                <Image
                  src={image}
                  width={295}
                  height={395}
                  alt={title}
                  class="rounded-lg w-full"
                />
              </div>
            )
          }
        </div>
        <div class="sm:col-7 md:col-8">
          <h1 set:html={markdownify(title)} class="h3 mb-8" />

          <div class="content">
            <Content />
          </div>
          <a href="/contact" class="btn btn-primary text-white py-2"
            >Get In Touch</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <PresidentMessage />
  </section>
  <section class="section">
    <div class="container">
      <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
